In [1]:
import pandas as pd

# Q1: 学生成绩分析
某班级的学生成绩数据如下，请完成以下任务：
- 计算每位学生的总分和平均分
- 找出数学成绩高于90分或英语成绩高于85分的学生
- 按总分从高到低排序，并输出前3名学生

In [19]:
data = {
    'Name':['张三', '李四', '王五', '赵六', '宋七'],
    'Math':[85, 92, 78, 88, 95],
    'English':[90, 88, 85, 92, 80],
    'Physics':[75, 80, 88, 85, 90]
}

# 转为DataFrame
data_df = pd.DataFrame(data)
# 取成绩列
data_score = data_df[['Math','English','Physics']]
# 求和，求平均，加入到原始DataFrame
data_df['Total'] = data_score.sum(axis=1)
data_df['AVG'] = data_score.mean(axis=1)

# 数学成绩-英语成绩筛选条件
data_df[(data_df['Math']>90) | (data_df['English']>85)]

# 排序
data_df.sort_values('Total',ascending=False)
# 前三名
data_df.nlargest(3,columns=['Total'])

  Name  Math  English  Physics  Total        AVG
3   赵六    88       92       85    265  88.333333
4   宋七    95       80       90    265  88.333333
1   李四    92       88       80    260  86.666667

# Q2: 销售数据分析
某公司销售数据如下，请完成以下任务：
- 计算每种产品的总销售额
- 找出销售额最高的产品
- 按销售额从高到低排序，输出所有产品信息

In [29]:
sales_data = {
    'Product':['A','B','C','D'],
    'Price':[100,150,200,120],
    'Sales':[50,30,20,40]
}

# 转为DataFrame
sales_df = pd.DataFrame(sales_data)
# 总销售额
sales_df['Total'] = sales_df['Price'] * sales_df['Sales']
# 销售额最高的产品
sales_df.nlargest(1,columns=['Total'])
# 排序
sales_df.sort_values('Total',ascending=False)

  Product  Price  Sales  Total
0       A    100     50   5000
3       D    120     40   4800
1       B    150     30   4500
2       C    200     20   4000

# Q3: 电商用户行为分析
某电商平台的用户行为数据如下，请完成以下任务：
- 计算每位用户的总消费金额（消费金额=商品单价×购买数量）
- 找出消费金额最高的用户，并输出其所有信息
- 计算所有用户的平均消费金额（保留2位小数）
- 统计电子产品的总购买数量

In [41]:
customer_data = {
    'ID':[101,102,103,104,105],
    'Name':['Alice','Bob','Charlie','David','Eve'],
    'Sort':['Electronic Products','Clothes','Electronic Products','Household','Clothes'],
    'Price':[1200,300,800,150,200],
    'Counts':[1,3,2,5,4]
}

# 转为DataFrame
customer_df = pd.DataFrame(customer_data)
# 总消费金额
customer_df['Total'] = customer_df['Price'] * customer_df['Counts']
# 金额最高
customer_df.nlargest(1,columns=['Total'])
# 平均消费金额
customer_df['Total'].mean()
# 筛选
customer_df[customer_df['Sort']=='Electronic Products']['Counts'].sum()

np.int64(3)